.jumbotron {
    background-color: #0d3565; 
    margin-left: 70px;
    margin-right: 60px;
    height: 50px;
    
    
  }

  .jumbotron h3{
      font-size: 2rem;
      color: white;
  }

  .jumbotron1{
    background-color: #c7e1ff;
    margin-left: 70px;
    margin-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 0.3px;

  }

  .jumbotron1 h2{
      color: red;
  }
